# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
public
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Media assets
assets/media

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
