@import './base.css';

.btn-reserve {
    background: rgb(207, 169, 117);
    background: radial-gradient(circle, rgba(197, 159, 106, 1) 0%, rgba(255, 182, 124, 1) 100%);
}

html{
    scroll-behavior: smooth;
}